In [32]:
#%pip install pandas
#%pip install numpy
#%pip install matplotlib
#%pip install openpyxl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from math import exp


DatosTaller = pd.read_excel('DatosTaller1.xlsx', sheet_name='Sheet1')
# drop nan columns and rows
DatosTaller = DatosTaller.dropna(axis=1, how='all')
DatosTaller = DatosTaller.dropna(axis=0, how='all')
display(DatosTaller)
display(DatosTaller.describe())
keys = DatosTaller.keys()
print(keys)
for i in keys:
    display(DatosTaller[i].value_counts())

,Nº REMISION,FECHA,Columna1,UND,KILOS,Tipo,DESCRIPCION,P - Horas,D -Dias,Columna2,Columna3,Columna5,Columna7,S,C
0,1000016975,2011-01-03,2011-01-03 15:00:00,648.0,648.0,Materia Prima,MAQUILA VARILLA RECTA 60 MIL N.6 X 12 MTS,00:00:00,2011-01-04 15:00:00,2011-01-03 15:00:00.000,True,58,1,2011-01-03 15:00:00.000,2011-01-03 15:00:00.000
1,1000016975,2011-01-03,2011-01-03 15:00:00,1175.0,1175.0,Materia Prima,MAQUILA VARILLA RECTA 60 MIL N.7 X 12 MTS,00:00:00,2011-01-04 15:00:00,2011-01-03 15:00:00.000,True,58,1,2011-01-03 15:00:00.000,2011-01-03 15:00:00.000
2,1000016982,2011-01-03,2011-01-03 15:00:00,108.0,108.0,Materia Prima,MAQUILA VARILLA RECTA 60 MIL N.4 X 12 MTS,00:00:00,2011-01-04 15:00:00,2011-01-03 15:00:00.000,True,58,1,2011-01-03 15:00:00.000,2011-01-03 15:00:00.000
3,1000016989,2011-01-03,2011-01-03 15:00:00,100.0,100.0,Materia Prima,MAQUILA ALAMBRE RECOCIDO CAL 18,00:00:00,2011-01-04 15:00:00,2011-01-03 15:00:00.000,True,58,1,2011-01-03 15:00:00.000,2011-01-03 15:00:00.000
4,1000016990,2011-01-03,2011-01-03 15:00:00,250.0,250.0,Materia Prima,MAQUILA ALAMBRE RECOCIDO CAL 18,00:00:00,2011-01-04 15:00:00,2011-01-03 15:00:00.000,True,58,1,2011-01-03 15:00:00.000,2011-01-03 15:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2277,1000018120,2011-02-15,2011-02-15 15:00:00,2319.9,2319.9,Figurado,MAQUILA ACERO FIGURADO 4,00:53:32.169000,2011-02-16 15:00:00,2011-02-15 15:53:32.169,True,5,2235,2011-03-18 08:20:37.888,2011-03-18 09:14:10.057
2278,1000018122,2011-02-15,2011-02-15 15:00:00,5514.1,5514.1,Figurado,MAQUILA ACERO FIGURADO 4,02:07:14.908000,2011-02-16 15:00:00,2011-02-15 17:07:14.908,True,4,2235,2011-03-18 09:14:10.057,2011-03-18 11:21:24.965
2279,1000018143,2011-02-15,2011-02-15 15:00:00,10464.0,10464.0,Figurado,MAQUILA ACERO FIGURADO 8,04:01:28.615000,2011-02-16 15:00:00,2011-02-15 19:01:28.615,True,3,2235,2011-03-18 11:21:24.965,2011-03-18 15:22:53.580
2280,1000018117,2011-02-15,2011-02-15 15:00:00,10705.8,10705.8,Figurado,MAQUILA ACERO FIGURADO 7,04:07:03.415000,2011-02-16 15:00:00,2011-02-15 19:07:03.415,True,2,2235,2011-03-18 15:22:53.580,2011-03-18 19:29:56.995
2281,1000018134,2011-02-15,2011-02-15 15:00:00,10855.6,10855.6,Figurado,MAQUILA ACERO FIGURADO 8,04:10:30.831000,2011-02-16 15:00:00,2011-02-15 19:10:30.831,True,1,2235,2011-03-18 19:29:56.995,2011-03-18 23:40:27.826

        Nº REMISION           UND         KILOS     Columna5     Columna7
count  2.282000e+03   2282.000000   2282.000000  2282.000000  2282.000000
mean   1.000018e+09   1547.885386   1971.994769    35.436459  1105.211218
std    3.398234e+02   3012.206607   4079.877369    24.897081   656.382837
min    1.000017e+09      0.000000      0.000000     1.000000     1.000000
25%    1.000017e+09    120.000000    179.225000    16.000000   545.000000
50%    1.000018e+09    457.000000    635.750000    32.000000  1113.000000
75%    1.000018e+09   1608.300000   1882.725000    51.000000  1684.000000
max    1.000018e+09  35549.000000  35610.000000   124.000000  2235.000000

Index(['Nº REMISION', 'FECHA', 'Columna1', 'UND', 'KILOS', 'Tipo',
       'DESCRIPCION', 'P - Horas', 'D -Dias', 'Columna2', 'Columna3',
       'Columna5', 'Columna7', 'S', 'C'],
      dtype='object')

1000018018    11
1000018024     9
1000017771     9
1000017223     9
1000017623     9
              ..
1000017463     1
1000017462     1
1000017447     1
1000017461     1
1000018117     1
Name: Nº REMISION, Length: 1111, dtype: int64

2011-02-02    143
2011-01-27    110
2011-02-07    109
2011-01-04     97
2011-02-10     92
2011-02-09     85
2011-01-28     85
2011-01-26     80
2011-01-13     78
2011-02-01     77
2011-01-05     73
2011-01-06     72
2011-01-25     71
2011-01-03     70
2011-01-17     67
2011-01-21     67
2011-01-24     66
2011-02-03     65
2011-01-29     64
2011-02-11     62
2011-02-04     58
2011-01-12     49
2011-02-15     48
2011-01-14     47
2011-01-19     46
2011-01-22     46
2011-02-05     44
2011-02-08     42
2011-01-15     41
2011-01-20     40
2011-02-14     38
2011-01-18     35
2011-01-11     27
2011-01-07     27
2011-01-31     25
2011-02-12     21
2011-01-23      9
2011-01-08      4
2011-01-30      2
Name: FECHA, dtype: int64

2011-02-02 15:00:00    143
2011-01-27 15:00:00    110
2011-02-07 15:00:00    109
2011-01-04 15:00:00     97
2011-02-10 15:00:00     92
2011-02-09 15:00:00     85
2011-01-28 15:00:00     85
2011-01-26 15:00:00     80
2011-01-13 15:00:00     78
2011-02-01 15:00:00     77
2011-01-05 15:00:00     73
2011-01-06 15:00:00     72
2011-01-25 15:00:00     71
2011-01-03 15:00:00     70
2011-01-17 15:00:00     67
2011-01-21 15:00:00     67
2011-01-24 15:00:00     66
2011-02-03 15:00:00     65
2011-01-29 15:00:00     64
2011-02-11 15:00:00     62
2011-02-04 15:00:00     58
2011-01-12 15:00:00     49
2011-02-15 15:00:00     48
2011-01-14 15:00:00     47
2011-01-19 15:00:00     46
2011-01-22 15:00:00     46
2011-02-05 15:00:00     44
2011-02-08 15:00:00     42
2011-01-15 15:00:00     41
2011-01-20 15:00:00     40
2011-02-14 15:00:00     38
2011-01-18 15:00:00     35
2011-01-11 15:00:00     27
2011-01-07 15:00:00     27
2011-01-31 15:00:00     25
2011-02-12 15:00:00     21
2011-01-23 15:00:00      9
2011-01-08 15:00:00      4
2011-01-30 15:00:00      2
Name: Columna1, dtype: int64

60.0       27
108.0      17
120.0      13
250.0      11
16.8       11
           ..
27.1        1
25.5        1
355.7       1
2789.3      1
10855.6     1
Name: UND, Length: 1642, dtype: int64

108.0      17
120.0      11
16.8       11
336.0       9
600.0       9
           ..
11588.0     1
9396.0      1
8527.8      1
8390.0      1
10855.6     1
Name: KILOS, Length: 1743, dtype: int64

Figurado         1545
Materia Prima     501
Mallas            236
Name: Tipo, dtype: int64

MAQUILA ACERO FIGURADO 3                    390
MAQUILA ACERO FIGURADO 4                    295
MAQUILA ACERO FIGURADO 5                    250
MAQUILA ACERO FIGURADO 6                    195
MAQUILA ACERO FIGURADO 7                    148
                                           ...
MAQUILA MALLA ELECT. H-106 C                  1
MAQUILA VARILLA GRAFIL 5.5 MM  X 6 MTS C      1
MAQUILA MALLA ELECT. H-221 C                  1
MAQUILA VARILLA  GRAFIL 8.5 MM C              1
MAQUILA MALLA ELECT, M-335 CERTIFICADA        1
Name: DESCRIPCION, Length: 67, dtype: int64

00:00:00           503
00:51:45             7
01:24:38.700000      7
04:44:01.860000      6
00:00:23.262000      5
                  ...
02:08:04.892000      1
01:50:54.462000      1
01:24:41.815000      1
01:10:29.723000      1
04:10:30.831000      1
Name: P - Horas, Length: 1503, dtype: int64

2011-02-03 15:00:00    143
2011-01-28 15:00:00    110
2011-02-08 15:00:00    109
2011-01-05 15:00:00     97
2011-02-11 15:00:00     92
2011-02-10 15:00:00     85
2011-01-29 15:00:00     85
2011-01-27 15:00:00     80
2011-01-14 15:00:00     78
2011-02-02 15:00:00     77
2011-01-25 15:00:00     75
2011-01-06 15:00:00     73
2011-01-07 15:00:00     72
2011-01-26 15:00:00     71
2011-01-04 15:00:00     70
2011-01-22 15:00:00     67
2011-01-18 15:00:00     67
2011-02-04 15:00:00     65
2011-01-31 15:00:00     64
2011-02-12 15:00:00     62
2011-02-05 15:00:00     58
2011-01-13 15:00:00     49
2011-02-16 15:00:00     48
2011-01-15 15:00:00     47
2011-01-24 15:00:00     46
2011-01-20 15:00:00     46
2011-02-07 15:00:00     44
2011-02-09 15:00:00     42
2011-01-17 15:00:00     41
2011-01-21 15:00:00     40
2011-02-15 15:00:00     38
2011-01-19 15:00:00     35
2011-02-01 15:00:00     27
2011-01-12 15:00:00     27
2011-01-08 15:00:00     27
2011-02-14 15:00:00     21
2011-01-10 15:00:00      4
Name: D -Dias, dtype: int64

2011-01-13 15:00:00.000    30
2011-02-10 15:00:00.000    27
2011-01-27 15:00:00.000    26
2011-01-29 15:00:00.000    24
2011-02-07 15:00:00.000    23
                           ..
2011-01-21 15:01:39.692     1
2011-01-21 15:00:59.815     1
2011-01-21 15:00:37.523     1
2011-01-21 15:00:35.308     1
2011-02-15 19:10:30.831     1
Name: Columna2, Length: 1711, dtype: int64

True    2282
Name: Columna3, dtype: int64

34     66
41     63
26     51
49     47
55     43
       ..
120     1
121     1
122     1
123     1
73      1
Name: Columna5, Length: 123, dtype: int64

1476    143
1113    110
1786    109
71       97
2022     92
1937     85
1223     85
1033     80
420      78
1399     77
168      73
241      72
962      71
1        70
586      67
774      67
896      66
1619     65
1308     64
2114     62
1684     58
371      49
2235     48
498      47
688      46
841      46
1742     44
1895     42
545      41
734      40
2197     38
653      35
344      27
313      27
1374     25
2176     21
887       9
340       4
1372      2
Name: Columna7, dtype: int64

2011-01-17 14:03:37.907    31
2011-03-08 22:04:55.470    28
2011-02-12 06:56:20.365    27
2011-02-16 05:45:48.198    25
2011-03-01 14:58:35.847    24
                           ..
2011-01-29 20:05:25.218     1
2011-01-29 19:35:08.343     1
2011-01-29 19:07:01.743     1
2011-01-29 18:45:25.743     1
2011-03-18 19:29:56.995     1
Name: S, Length: 1779, dtype: int64

2011-01-17 14:03:37.907    31
2011-03-08 22:04:55.470    28
2011-02-12 06:56:20.365    27
2011-02-16 05:45:48.198    25
2011-03-01 14:58:35.847    24
                           ..
2011-01-29 20:05:25.218     1
2011-01-29 19:35:08.343     1
2011-01-29 19:07:01.743     1
2011-01-29 18:45:25.743     1
2011-03-18 23:40:27.826     1
Name: C, Length: 1780, dtype: int64

In [33]:
def get_p(row):
    """
    function that evaluates when a row and creates a column based on the
    value of 'Tipo' where:
    if the value is 'Figurado' it returns 'KILOS'/ 2600,
    if the value is 'Mallas' it returns 'KILOS'/ 800, and
    if the value is 'Materia Prima' it returns 0
    """
    if row['Tipo'] == 'Figurado':
        return row['KILOS']/2600
    elif row['Tipo'] == 'Mallas':
        return row['KILOS']/800
    else:
        return 0
def add_nhours(row, n):
    """
    function that adds n number of hours to a date on a row
    to the column 'FECHA'
    """
    # get the date on the row
    date = row['FECHA']
    # add n hours to the date
    date = date + pd.Timedelta(hours=n)
    return date
def get_weekday(row):
    """
    function that takes a row and returns the day of the week
    """
    # get the date on the row
    date = row['FECHA']
    # get the day of the week
    weekday = date.day_name()
    return weekday

def get_r(row):
    """
    function that takes a row and returns the hours since the minimum date
    on the column 'FECHA' and ignores the time between Saturday and Sunday
    """
    # get the minimum date
    min_date = DatosTaller['FECHA'].min()
    # get the difference between the row date and the minimum date
    diff = row['FECHA'] - min_date
    # get the number of days since the minimum date
    days = diff.days
    # get the number of weeks since the minimum date
    weeks = days // 7
    # get the number of days since the minimum date ignoring the weekends
    days = days - 2*weeks
    # get the number of hours since the minimum date ignoring the weekends
    hours = days*24
    return hours
def get_d(row, n):
    """
    function that takes a row and returns r_{j} and adds n hours
    """
    # get the number of hours since the minimum date ignoring the weekends
    r = row['r']
    # add n hours to r_{j}
    r = r + n
    return r
# use the function add_nhours to add 15 hours to the column 'FECHA'
DatosTaller['FECHA'] = DatosTaller.apply(add_nhours, axis=1, args=(15,))
# create a new column 'p_{j}' and use the function get_p to fill it
DatosTaller['p'] = DatosTaller.apply(get_p, axis=1)
# create a new column 'weekday' and use the function get_weekday to fill it
DatosTaller['weekday'] = DatosTaller.apply(get_weekday, axis=1)
# create a new column 'r_{j}' and use the function get_r to fill it
DatosTaller['r'] = DatosTaller.apply(get_r, axis=1)
# create a new column 'd_{j}' and use the function get_d to fill it
DatosTaller['d'] = DatosTaller.apply(get_d, axis=1, args=(24,))
display(DatosTaller)

n = len(DatosTaller)
p = DatosTaller['p'].tolist()
d = DatosTaller['d'].tolist()
r = DatosTaller['r'].tolist()
SM = SingleMachine(n=n, p=p, d=d, r=r)
print("Orden: ",SM.SPT())
print("Start: ", SM.S)
print("Completion: ", SM.C)
print("Lateness: ", SM.L)
print("Tardiness: ", SM.T)
print("Earliness: ", SM.E)

,Nº REMISION,FECHA,Columna1,UND,KILOS,Tipo,DESCRIPCION,P - Horas,D -Dias,Columna2,Columna3,Columna5,Columna7,S,C,p,weekday,r,d
0,1000016975,2011-01-03 15:00:00,2011-01-03 15:00:00,648.0,648.0,Materia Prima,MAQUILA VARILLA RECTA 60 MIL N.6 X 12 MTS,00:00:00,2011-01-04 15:00:00,2011-01-03 15:00:00.000,True,58,1,2011-01-03 15:00:00.000,2011-01-03 15:00:00.000,0.000000,Monday,0,24
1,1000016975,2011-01-03 15:00:00,2011-01-03 15:00:00,1175.0,1175.0,Materia Prima,MAQUILA VARILLA RECTA 60 MIL N.7 X 12 MTS,00:00:00,2011-01-04 15:00:00,2011-01-03 15:00:00.000,True,58,1,2011-01-03 15:00:00.000,2011-01-03 15:00:00.000,0.000000,Monday,0,24
2,1000016982,2011-01-03 15:00:00,2011-01-03 15:00:00,108.0,108.0,Materia Prima,MAQUILA VARILLA RECTA 60 MIL N.4 X 12 MTS,00:00:00,2011-01-04 15:00:00,2011-01-03 15:00:00.000,True,58,1,2011-01-03 15:00:00.000,2011-01-03 15:00:00.000,0.000000,Monday,0,24
3,1000016989,2011-01-03 15:00:00,2011-01-03 15:00:00,100.0,100.0,Materia Prima,MAQUILA ALAMBRE RECOCIDO CAL 18,00:00:00,2011-01-04 15:00:00,2011-01-03 15:00:00.000,True,58,1,2011-01-03 15:00:00.000,2011-01-03 15:00:00.000,0.000000,Monday,0,24
4,1000016990,2011-01-03 15:00:00,2011-01-03 15:00:00,250.0,250.0,Materia Prima,MAQUILA ALAMBRE RECOCIDO CAL 18,00:00:00,2011-01-04 15:00:00,2011-01-03 15:00:00.000,True,58,1,2011-01-03 15:00:00.000,2011-01-03 15:00:00.000,0.000000,Monday,0,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2277,1000018120,2011-02-15 15:00:00,2011-02-15 15:00:00,2319.9,2319.9,Figurado,MAQUILA ACERO FIGURADO 4,00:53:32.169000,2011-02-16 15:00:00,2011-02-15 15:53:32.169,True,5,2235,2011-03-18 08:20:37.888,2011-03-18 09:14:10.057,0.892269,Tuesday,744,768
2278,1000018122,2011-02-15 15:00:00,2011-02-15 15:00:00,5514.1,5514.1,Figurado,MAQUILA ACERO FIGURADO 4,02:07:14.908000,2011-02-16 15:00:00,2011-02-15 17:07:14.908,True,4,2235,2011-03-18 09:14:10.057,2011-03-18 11:21:24.965,2.120808,Tuesday,744,768
2279,1000018143,2011-02-15 15:00:00,2011-02-15 15:00:00,10464.0,10464.0,Figurado,MAQUILA ACERO FIGURADO 8,04:01:28.615000,2011-02-16 15:00:00,2011-02-15 19:01:28.615,True,3,2235,2011-03-18 11:21:24.965,2011-03-18 15:22:53.580,4.024615,Tuesday,744,768
2280,1000018117,2011-02-15 15:00:00,2011-02-15 15:00:00,10705.8,10705.8,Figurado,MAQUILA ACERO FIGURADO 7,04:07:03.415000,2011-02-16 15:00:00,2011-02-15 19:07:03.415,True,2,2235,2011-03-18 15:22:53.580,2011-03-18 19:29:56.995,4.117615,Tuesday,744,768
2281,1000018134,2011-02-15 15:00:00,2011-02-15 15:00:00,10855.6,10855.6,Figurado,MAQUILA ACERO FIGURADO 8,04:10:30.831000,2011-02-16 15:00:00,2011-02-15 19:10:30.831,True,1,2235,2011-03-18 19:29:56.995,2011-03-18 23:40:27.826,4.175231,Tuesday,744,768

TypeError: SingleMachine.__init__() got an unexpected keyword argument 'r'