In [9]:
%pip install pandas
%pip install numpy
%pip install matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Requirement already satisfied: pandas in c:\users\home\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\home\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\home\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\home\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\home\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in c:\users\home\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.24.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: matplotlib in c:\users\home\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.7.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: contourpy>=1.0.1 in c:\users\home\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\home\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\home\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\home\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\home\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (1.24.2)
Requirement already satisfied: packaging>=20.0 in c:\users\home\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\home\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\home\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\home\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\home\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [11]:
DatosTaller = pd.read_excel('DatosTaller1.xlsx')
display(DatosTaller)
display(DatosTaller.describe())
display(DatosTaller['Nº REMISION'])

,Nº REMISION,FECHA,UND,KILOS,Tipo,DESCRIPCION
0,1000016974,2011-01-03,57.4,57.4,Figurado,MAQUILA ACERO FIGURADO 5
1,1000016974,2011-01-03,3804.5,3804.5,Figurado,MAQUILA ACERO FIGURADO 6
2,1000016974,2011-01-03,3302.4,3302.4,Figurado,MAQUILA ACERO FIGURADO 7
3,1000016974,2011-01-03,1881.6,1881.6,Figurado,MAQUILA ACERO FIGURADO 8
4,1000016975,2011-01-03,648.0,648.0,Materia Prima,MAQUILA VARILLA RECTA 60 MIL N.6 X 12 MTS
...,...,...,...,...,...,...
2277,1000018134,2011-02-15,144.0,144.0,Materia Prima,MAQUILA VARILLA RECTA 60 MIL N.8 X 12 MTS
2278,1000018134,2011-02-15,81.1,81.1,Figurado,MAQUILA ACERO FIGURADO 5
2279,1000018134,2011-02-15,10855.6,10855.6,Figurado,MAQUILA ACERO FIGURADO 8
2280,1000018137,2011-02-15,389.0,389.0,Figurado,MAQUILA ACERO FIGURADO 3
2281,1000018143,2011-02-15,10464.0,10464.0,Figurado,MAQUILA ACERO FIGURADO 8

       Nº REMISION            UND         KILOS
count  2.282000e+03   2282.000000   2282.000000
mean   1.000018e+09   1547.885386   1971.994769
std    3.398234e+02   3012.206607   4079.877369
min    1.000017e+09      0.000000      0.000000
25%    1.000017e+09    120.000000    179.225000
50%    1.000018e+09    457.000000    635.750000
75%    1.000018e+09   1608.300000   1882.725000
max    1.000018e+09  35549.000000  35610.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2282 entries, 0 to 2281
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nº REMISION   2282 non-null   int64
 1   FECHA         2282 non-null   datetime64[ns]
 2   UND           2282 non-null   float64
 3   KILOS         2282 non-null   float64
 4   Tipo          2282 non-null   object
 5   DESCRIPCION   2282 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 107.1+ KB

None